<%= simple_form_for user, url: user_path(user), method: :delete, html: { class: 'eu-confirmation-form' } do |user| %>
    <div class="button-row">
    <span class="enable-flex">
      <%= link_to t('cancel', scope: 'contribute.actions'), users_path, { class: 'btn alt' } %>
    </span>
      <span class="enable-flex">
      <%= user.button(:submit, t('delete', scope: 'contribute.actions')) %>
    </span>
    </div>
<% end %>
