<%= simple_form_for event, url: event_path(event), method: :delete, html: { class: 'eu-confirmation-form' } do |event| %>
  <div class="button-row">
    <span class="enable-flex">
      <%= link_to t('cancel', scope: 'contribute.actions'), events_path, { class: 'btn alt' } %>
    </span>
    <span class="enable-flex">
      <%= event.button(:submit, t('delete', scope: 'contribute.actions')) %>
    </span>
  </div>
<% end %>
