<%= simple_form_for @contribution, url: contribution_path(@contribution), method: :delete , html: { 'class': 'eu-confirmation-form' } do |contribution| %>
  <div class="button-row">
    <span class="enable-flex">
      <%= link_to t('cancel', scope: 'contribute.actions'),  contributions_path, {:class=>"btn alt"} %>
    </span>
    <span class="enable-flex">
      <%= contribution.button(:submit, t('delete', scope: 'contribute.actions')) %>
    </span>
  </div>
<% end %>
