<style>
 #new_ore_aggregation label,
 #new_ore_aggregation legend{
   color:       #095f90 ;
   font-weight: bold;
   margin-top:  1.5em;
 }

 #new_ore_aggregation fieldset,
 #new_ore_aggregation .btn,
 #new_ore_aggregation .input{
   margin-top:  0.75em;
 }

 #new_ore_aggregation .error{
   display:       block;
   margin-bottom: 1em;
   white-space:   nowrap;
 }


 #new_ore_aggregation .input .string:focus,
 #new_ore_aggregation .input .text:focus{
   border-color: #095f90 ;
 }

 #new_ore_aggregation .input .string:active,
 #new_ore_aggregation .input .text:active{
   border-color: #095f90 ;
 }


 #new_ore_aggregation .btn:hover,
 #new_ore_aggregation .btn:focus{
   color: #fff;
   background-color: #1a1a1a ;
 }
 
 .autocomplete-suggestions {
    background: white;
    border-radius: 4px;
    border: 1px solid #777777;
    padding: 0.5rem 0.65rem;
  }
  
.error {
  color: red;
  font-weight: bold;
}
</style>
